$color-primary-light: #e75d8b; 
$color-primary-dark: #8a1d52; 
$color-beige: #f5f5dc;
$color-black: #000;
$color-light-grey: #777 ;
$color-grey-light-1: #f7f7f7;

$color-secondary-light: #47ccab;
$color-secondary-dark: #0c554f;

$color-tertiary-light: #f3abab;
$color-tertiary-dark: #a34040;

$color-four-light: #41413d;
$color-four-dark: #161616;




// GRID VARIABLES

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;